<h2>Neuer Kontakt</h2>

<div *ngIf="service.showWarning" class="warning">
  Vor- oder Nachname muss eingetragen sein!
</div>

<main>

  <div class="left">

    <div *ngIf="service.showWarning"
         [class.warning-text]="service.showWarning">

      <h3>Name</h3>

      <label>Vorname* <br>
        <input type="text" [(ngModel)]="service.newPersonFirst">
      </label>

      <br>

      <label>Nachname* <br>
        <input type="text" [(ngModel)]="service.newPersonLast">
      </label>

    </div>

    <div *ngIf="service.showWarning === false">
      <h3>Name</h3>

      <label>Vorname <br>
        <input type="text" [(ngModel)]="service.newPersonFirst">
      </label>

      <br>

      <label>Nachname <br>
        <input type="text" [(ngModel)]="service.newPersonLast">
      </label>

    </div>

    <br>


    <h3>Anschrift</h3>

    <label>Straße <br>
      <input type="text" [(ngModel)]="service.newPersonStreet">
    </label>

    <br>

    <label>Postleitzahl <br>
      <input type="number" [(ngModel)]="service.newPersonPostcode">
    </label>

    <br>

    <label>Ort <br>
      <input type="text" [(ngModel)]="service.newPersonLocation">
    </label>

  </div>


  <div class="right">

    <h3>Kontakt</h3>

    <label>Telefon <br>
      <input type="number" [(ngModel)]="service.newPersonTel">
    </label>

    <br>

    <label>Mobil <br>
      <input type="number" [(ngModel)]="service.newPersonMobil">
    </label>

    <br>

    <label>Mail <br>
      <input type="text" [(ngModel)]="service.newPersonMail">
    </label>

    <br>

    <h3>Termine</h3>

    <label>Geburtstag <br>
      <input type="date" [(ngModel)]="service.newPersonBirthday">
    </label>

    <br>

    <label>Hochzeitstag <br>
      <input type="date" [(ngModel)]="service.newPersonWeddingdate">
    </label>

  </div>

</main>

<br>
<br>

<app-button (click)="service.saveNewPerson()">Speichern</app-button>
<app-button (click)="service.cancelNew()">Abbrechen</app-button>
