<h2>{{service.selectedPerson.first}} {{service.selectedPerson.last}}</h2>


<h3>Anschrift</h3>

<p>Straße: {{service.selectedPerson.street}}</p>
<p>Ort: {{service.selectedPerson.postcode}} {{service.selectedPerson.location}}</p>


<h3>Kontakt</h3>

<p>Telefon: {{service.selectedPerson.tel}}</p>
<p>Mobil: {{service.selectedPerson.mobil}}</p>
<p>Mail: {{service.selectedPerson.mail}}</p>


<h3>Termine</h3>

<p>Geburtstag: {{service.formatDate(service.selectedPerson.birthday)}}</p>
<p>Hochzeitstag: {{service.formatDate(service.selectedPerson.weddingdate)}}</p>

<br>

<app-button (click)="service.editPerson(service.selectedPerson)">Bearbeiten</app-button>
<app-button (click)="service.deletePerson(service.selectedPerson)">Löschen</app-button>

