<h1>Meine Kontakte</h1>

<main>

  <div class="left">

    <div *ngFor="let person of service.contacts">

      <p (click)="service.showPerson(person)"
         [class.mark-person]="service.selectedPerson === person"
         class="person">
        {{person.first}} {{person.last}}
      </p>

    </div>

    <app-button (click)="service.newContact()"
                class="new-contact">
      Neuer Kontakt
    </app-button>

  </div>


  <div [class.right]="service.view !=='nothing'">

    <app-person-view *ngIf="service.view === 'person'"></app-person-view>
    <app-new *ngIf="service.view === 'new'"></app-new>
    <app-editing *ngIf="service.view === 'edit'"></app-editing>

  </div>


</main>
