<h2>Neuer Kontakt</h2>


<main>

  <div class="left">

    <h3>Name</h3>

    <label>Vorname <br>
      <input type="text" [(ngModel)]="service.PersonToEditFirst">
    </label>

    <br>

    <label>Nachname <br>
      <input type="text" [(ngModel)]="service.PersonToEditLast">
    </label>


    <h3>Anschrift</h3>

    <label>Straße <br>
      <input type="text" [(ngModel)]="service.PersonToEditStreet">
    </label>

    <br>

    <label>Postleitzahl <br>
      <input type="number" [(ngModel)]="service.PersonToEditPostcode">
    </label>

    <br>

    <label>Ort <br>
      <input type="text"  [(ngModel)]="service.PersonToEditLocation">
    </label>

  </div>

  <div class="right">

    <h3>Kontakt</h3>

    <label>Telefon <br>
      <input type="number" [(ngModel)]="service.PersonToEditTel">
    </label>

    <br>

    <label>Mobil <br>
      <input type="number" [(ngModel)]="service.PersonToEditMobil">
    </label>

    <br>

    <label>Mail <br>
      <input type="text" [(ngModel)]="service.PersonToEditMail">
    </label>


    <h3>Termine</h3>

    <label>Geburtstag <br>
      <input type="text" [(ngModel)]="service.PersonToEditBirthday">
    </label>

    <br>

    <label>Hochzeitstag <br>
      <input type="text" [(ngModel)]="service.PersonToEditWeddingdate">
    </label>

  </div>

</main>

<br>
<br>

<app-button (click)="service.saveChanges()">Speichern</app-button>
<app-button (click)="service.cancelEditing()">Abbrechen</app-button>
