<h2>Neuer Kontakt</h2>


<main>

  <div class="left">

    <h3>Name</h3>

    <label>Vorname <br>
      <input type="text" [(ngModel)]="service.personToEditFirst">
    </label>

    <br>

    <label>Nachname <br>
      <input type="text" [(ngModel)]="service.personToEditLast">
    </label>


    <h3>Anschrift</h3>

    <label>Straße <br>
      <input type="text" [(ngModel)]="service.personToEditStreet">
    </label>

    <br>

    <label>Postleitzahl <br>
      <input type="number" [(ngModel)]="service.personToEditPostcode">
    </label>

    <br>

    <label>Ort <br>
      <input type="text"  [(ngModel)]="service.personToEditLocation">
    </label>

  </div>

  <div class="right">

    <h3>Kontakt</h3>

    <label>Telefon <br>
      <input type="number" [(ngModel)]="service.personToEditTel">
    </label>

    <br>

    <label>Mobil <br>
      <input type="number" [(ngModel)]="service.personToEditMobil">
    </label>

    <br>

    <label>Mail <br>
      <input type="text" [(ngModel)]="service.personToEditMail">
    </label>


    <h3>Termine</h3>

    <label>Geburtstag <br>
      <input type="date" [(ngModel)]="service.personToEditBirthday">
    </label>

    <br>

    <label>Hochzeitstag <br>
      <input type="date" [(ngModel)]="service.personToEditWeddingdate">
    </label>

  </div>

</main>

<br>
<br>

<app-button (click)="service.saveChanges()">Speichern</app-button>
<app-button (click)="service.cancelEditing()">Abbrechen</app-button>
